//Customizing Buefy root:
    //Colors:
    $primary: #68A35D;
//end

//Customizing Buefy input:
    //Colors:
    $input-background-color: #131414;
    $input-border-color: #171819;
    $input-color: #fff, 100%;
    $input-icon-color: #3d3f41;
    $input-icon-active-color: rgb(139, 134, 134);

    $input-arrow: #9EA7AC;

    //Spacing:
    $input-radius: 8px;
//end

//Customizing Buefy menu:
    //Colors:
    $menu-item-color: #9EA7AC;
    $menu-item-active-color: #68A35D;
    $menu-item-active-background-color: transparent;
    $menu-item-hover-background-color: transparent;
    $menu-label-color: black;

    //Spacing:
    $menu-list-link-padding: 20px;
    $menu-list-link-margin-top: 200px;
//end

//Customizing Buefy button:
    //Colors:
    $button-color: white;
    $button-background-color:#68A35D;
    $button-border-color: #68A35D;
    $button-hover-color: white;
    $button-hover-border-color: #68A35D;
    $button-text-hover-color: white;
    $button-focus-border-color: #68A35D;
    $button-focus-color: white;
    $button-active-border-color: #68A35D;
    $button-active-color: rgb(202, 199, 199);
    $button-focus-box-shadow-size: 0;
//end

//Customizing Buefy button:

    //Unselected properties:
    $tabs-link-color: #9EA7AC;
    $tabs-toggle-link-border-color: #131414;

    //OnClick:
    $tabs-toggle-link-focus-active-background-color: #414D55;	
    $tabs-toggle-link-focus-active-border-color: #131414;
    $tabs-toggle-link-focus-background-color: #101111;
    $tabs-toggle-link-focus-border-color: #131414;

    //Selected properties:
    $tabs-toggle-link-active-border-color: #131414;
    $tabs-toggle-link-hover-border-color: transparent;
    $tabs-toggle-link-active-background-color: #414D55;
    $tabs-toggle-link-active-color: #90A1AC;

    //Others:
    $tabs-link-hover-color: #9EA7AC;
    $tabs-toggle-link-radius: 8px;
    $tabs-link-padding: 0.5rem 2rem;

//end

//Customizing Buefy checkbox:
    $checkbox-active-background-color: #2662F0;
//end

//Customizing Buefy pagination:
    $pagination-color: white;

    $pagination-current-border-color:#68A35D;
    $pagination-current-background-color: #68A35D;
//end

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";