//Customizing Buefy root:
    //Colors:
    $primary: black;
//end

//Customizing Buefy input:
    //Colors:
    $input-background-color: #171819;
    $input-border-color: #171819;
    $input-color: rgb(255, 255, 255);
    $input-icon-color: #3d3f41;
    $input-icon-active-color: rgb(139, 134, 134);

    //Spacing:
    $input-radius: 8px;
//end

//Customizing Buefy menu:
    //Colors:
    $menu-item-color: #9EA7AC;
    $menu-item-active-color: #68A35D;
    $menu-item-active-background-color: transparent;
    $menu-item-hover-background-color: transparent;
    $menu-label-color: black;

    //Spacing:
    $menu-list-link-padding: 20px;
    $menu-list-link-margin-top: 200px;
//end

//Customizing Buefy button:
    //Colors:
    $button-color: white;
    $button-background-color:#68A35D;
    $button-border-color: #68A35D;
    $button-hover-color: white;
    $button-hover-border-color: #68A35D;
    $button-text-hover-color: white;
    $button-focus-border-color: #68A35D;
    $button-focus-color: white;
    $button-active-border-color: #68A35D;
    $button-active-color: rgb(202, 199, 199);
    $button-focus-box-shadow-size: 0;
//end

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";